@import url("styles.css");

.about{
    height: 86vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container{
    height: 100%;
    width: 100%;
    background-color: var(--primary_rose);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text_container{
    height: 90%;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro{
    font-family: var(--font_georgia);
    font-size: 5vh;
    color: var(--secondary_rose);
}

.description{
    font-size: 2.8vh;
    font-family: var(--font_montserrat);
    text-align: justify;
    font-weight: 450;
    width: 90%;
}

.link{
    font-weight: 550;
    text-decoration: none;
    color: var(--base_font_color);
}

.link:hover{
    cursor: pointer;
    color: var(--secondary_rose);
}

.image_container{
    width: 40vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.image{
    color: transparent;
    height: 90%;
    width: 100%;
    background-image: url("../img/profile_img.png");
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.profile{
    border-radius: 10px;
    height: 60vh;
    width: auto;
    float: left;
}

