@import url("styles.css");

.about{
    height: 86vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text_container{
    height: 90%;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro{
    font-size: 5vh;
}

.description{
    font-size: 3vh;
    text-align: justify;
    font-weight: 450;
    width: 90%;
}

.link{
    font-weight: 550;
    text-decoration: none;
    color: var(--base_font_color);
    transition: 0.7s;
}

.link:hover{
    cursor: pointer;
    color: var(--gray_rose);
    transition: 0.7s;
}

.image_container{
    height: 100%;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width: 95%;
    height: 90%;
    background-image: url("../img/profile.png");
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center; 
    border-radius: 20px;
}

@media only screen and (max-width: 1000px) {

    .about{
        height: 150vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text_container{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .image_container{
        height: 45%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .image{
        width: 100%;
        height: 100%;
        background-image: url("../img/profile.png");
        background-size: cover;                      
        background-repeat: no-repeat;
        background-position: center center; 
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media only screen and (max-width: 705px) {
    .text_container{
        height: 65%;
    }

    .image_container{
        height: 32%;
    }
}

@media only screen and (max-width: 660px) {
    .text_container{
        height: 65%;
    }

    .image_container{
        height: 32%;
    }
}

@media only screen and (max-width: 500px) {

    .text_container{
        height: 68%;
    }

    .image_container{
        height: 30%;
    }

    .description{
        font-size: 2.71vh;
    }
}