@import url("styles.css");

.about{
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text{
    padding-left: 8vw;
    width: 60vw;
    position: absolute;
}

.intro{
    font-family: var(--font_georgia);
    font-size: 5vh;
    height: 15vh;
    color: var(--secondary_turquoise);
}

.description{
    font-size: 2.8vh;
    font-family: var(--font_montserrat);
    text-align: justify;
    color: var(--secondary_turquoise);
    font-weight: 450;
}

.link{
    font-weight: 550;
    text-decoration: none;
    color: var(--secondary_turquoise);
}

.link:hover{
    cursor: pointer;
    color: var(--secondary_rose);
}

.image_container{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.profile{
    border-radius: 10px;
    height: 75vh;
    width: auto;
    float: right;
    margin-right: 8vw;
}
