@import url("styles.css");

.contact{
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary_turquoise);
}

.intro{
    height: 100%;
    width: 40%;
    color: var(--primary_turquoise);
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.text{
    font-size: 7.5vh;
    width: 80%;
}

.hr{
    background-color: #59797c;
    height: 0.5px;
    margin: 0;
    padding: 0;
    border: none;
}

@media only screen and (max-width: 1100px) {
    .contact{
        flex-direction: column;
        height: 100vh;
    }

    .intro{
        height: 25%;
        width: 100%;
        
    }

    .text{
        font-size: 4vh;
        width: 100%;
        text-align: center;
        padding: 2%;
    }
}
