@import url("styles.css");

.container{
    width: 60%;
    height: 93%;
    background-color: var(--primary_turquoise);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.formContainer{
    width:90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro{
    font-family: var(--font_georgia);
    font-size: 5vh;
    height: 15vh;
    color: var(--secondary_turquoise);
}

.sent{
    color: var(--secondary_rose);
    text-align: center;
    /*
    visibility: hidden;*/
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.form > input, .form > textarea{
    font-size: 3vh;
    font-family: var(--font_montserrat);
    resize: none;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #a8c7ca;
    background: transparent;
    outline: 0;
    margin-bottom: 5vh;
    color: var( --base_font_color);
    
}

.form > label{
    color: var(--secondary_turquoise);
    font-size: 2.1vh;
    font-family: var(--font_montserrat);
    padding-left: 4px;
    padding-bottom: 2px;
}

.message{
    height: 20vh;
    text-align: start;  
}


.form > input:focus::placeholder, .form > textarea:focus::placeholder {
    color: transparent;
}

::placeholder{
    color: #a8c7ca;
}

.button_container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.submit{
    width: 20%;
    height: 3vh;
    background-color: var(--secondary_rose);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--base_bg_color);
    font-family: var(--font_montserrat);
}





  