@import url("styles.css");

.container{
    width: 60%;
    height: 93%;
    background-color: var(--primary_turquoise);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.formContainer{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.form > input, .form > textarea{
    font-size: 3vh;
    font-family: var(--font_montserrat);
    resize: none;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #a8c7ca;
    background: transparent;
    outline: 0;
    margin-bottom: 5vh;
    color: var( --base_font_color); 
}

.form > label{
    color: var(--secondary_turquoise);
    font-size: 2.8vh;
    font-family: var(--font_montserrat);
    padding-left: 4px;
    padding-bottom: 5px;
    font-weight: 450;
}

.message{
    height: 20vh;
    text-align: start;  
}

.form > input:focus::placeholder, .form > textarea:focus::placeholder {
    color: transparent;
}

::placeholder{
    font-size: 2.3vh;
    color: #a8c7ca;
    padding-top: 2px;
}

.button_container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sent{
    width: 60%;
    color: var(--secondary_turquoise);
    text-align: center;
    visibility: hidden;
    font-weight: 600;
    font-size: 2vh;
    margin: 2%;
    font-family: var(--font_montserrat);
}

.submit{
    width: 40%;
    height: 4vh;
    background-color: var(--secondary_rose);
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: 600;
    color: var(--base_bg_color);
    font-family: var(--font_montserrat);
    transition: 0.7s;
}

.submit:hover{
    background-color: var(--primary_rose);
    transition: 0.7s;
}

@media only screen and (max-width: 1100px) {
    .container{
        width: 95%;
        height: 73%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .form > input, .form > textarea{
        margin-bottom: 3vh;
    }
}


  