@import url("styles.css");

.navigation{
    width: 100%;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vh 0 2vh 0;
}

.navItem{
    width: 12vw;
    margin: 2vh 0 2vh 0;
    text-align: center;
}

.NavLink{
    text-decoration: none;
}

.NavLink:hover{
    font-weight: bold;
}

.active{
    font-weight: bold;
    color: var(--base_font_color);

}

.inactive{
    color: var(--base_font_color);
}

.contact{
    padding-right: 2vw;
}

.menu {
    display: none;
}

@media only screen and (max-width: 1130px) {
    /* show hamburger and hide default navItems*/
    .menu {
        float: right;
        display: block;
        width: 12vw;
        margin: 2vh 0 2vh 0;
        text-align: center;
      }

    .navItem{
        display: none;
    }

    .navbar_responsive {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 2vh 0 2vh 0;
        
    }

    .navbar_responsive > .projects{
        top: 10vh;
    }

    .navbar_responsive > .about{
        top: 17vh;
    }

    .navbar_responsive > .contact{
        top: 24vh;
        padding-right: 0vw;
    }

    /* show responsive navItems */

    .navbar_responsive > .navItem{
        float: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: right;
        right: 80px;
    }


      
}





