@import url("styles.css");

.navigation{
    width: 100%;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vh 0 2vh 0;
}

.navItem{
    width: 12vw;
    margin: 2vh 0 2vh 0;
    text-align: center;
}

.NavLink{
    text-decoration: none;
}

.NavLink:hover{
    font-weight: bold;
}

.active{
    font-weight: bold;
    color: var(--base_font_color);

}

.inactive{
    color: var(--base_font_color);
}

.contact{
    padding-right: 2vw;
}

@media only screen and (max-width: 1130px) {

}


