@import url("styles.css");

.navigation{
    width: 100%;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vh 0 2vh 0;
}

.navItem{
    width: 12vw;
    margin: 2vh 0 2vh 0;
    text-align: center;
    font-size: 4.2vh;
}

.NavLink{
    text-decoration: none;
    font-weight: normal;
    
}

.NavLink:hover{
    font-weight: bold;
}

.active{
    font-weight: 600;
    color: var(--base_font_color);

}

.inactive{
    color: var(--base_font_color);
}

.contact{
    padding-right: 2vw;
}

.menu, .cover, .close {
    display: none;
}

.menu:hover{
    color: var(--secondary_turquoise);
    margin: 2vh 2vh 2vh 0;
}

@media only screen and (max-width: 1326px) {
    .menu{
        float: right;
        display: block;
        width: 12vw;
        margin: 2vh 2vh 2vh 0;
        text-align: center;
        z-index: 2;
    }

    .close {
        float: right;
        width: 12vw;
        margin: 2vh 2vh 2vh 0;
        text-align: center;
        z-index: 2;
        color: var(--primary_turquoise);
    }

    .navItem{
        display: none;
    }

    .navbar_responsive {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 2vh 0 2vh 0;
        
    }

    .navbar_responsive .menu{
        color: var(--primary_turquoise);
    }

    .navbar_responsive > .projects{
         top: 10vh; 
    }

    .navbar_responsive > .about{
        top: 20vh;
    }

    .navbar_responsive > .contact{
        top: 30vh;
        padding-right: 0vw;
    }

    .navbar_responsive > .navItem{
        float: none;
        position: absolute;
        display: block;
        text-align: left;
        left: 8vw;
        z-index: 2;
    }

    .navbar_responsive >.cover{
        height: 80%;
        width: 100vw;
        display: block;
        position: absolute;
        z-index: 1;
        background-color: #67898df5;
    }  

    .navbar_responsive .active{
        color: var(--primary_turquoise);
    }

    .navbar_responsive .inactive{
        color: var(--primary_turquoise);
    }
}






