@import url(styles.css);

.projects{
    width: 100%;
}

.intro{
    font-family: var(--font_montserrat);
    padding: 4vh 2vw 4vh 6vw;
    height: 20vh;
    display: flex;
}

.projects_container{
    text-align: center;
    height: 58vh;
    width: 100%;
    border-spacing: 0;
}

tr{
    height: 50%;
}

td{
    width: 30%;
}

.overlay_container{
    position: absolute;
    bottom: 0;
    height: 58vh;
    width: 100%;
    border-spacing: 0;
}

img{
    width: 70%;
    display: block;
    margin: auto;
}

.rose{
    background-color: var(--primary_rose);
}

.turquoise{
    background-color: var(--primary_turquoise);
}

.dk_turquoise{
    background-color: var(--secondary_turquoise);
}

.grey{
    background-color: var(--primary_grey);
}

#_1:hover{
    background-color: #dec4c0c0;
    cursor: pointer;
}

#_1:hover .project{
    visibility: visible;
}

#_2:hover{
    background-color: #BAD4D7c0;
    cursor: pointer;
}

#_2:hover .project{
    visibility: visible;
}

#_3:hover{
    background-color: #67898Dc0;
    cursor: pointer;
}

#_3:hover .project{
    visibility: visible;
}

#_4:hover{
    background-color: #BAD4D7c0;
    cursor: pointer;
}

#_4:hover .project{
    visibility: visible;
}

.project{
    padding-left: 5%;
    visibility: hidden;
    color: white;
}

.title{
    font-weight: bold;
}

.description{
    font-family: var(--font_montserrat);
    font-size: 3vh;
}

@media only screen and (max-width: 1130px) {

}







