@import url("css/styles.css");

@font-face{
  font-family: "Montserrat";
  src: local("Montserrat"), url("./fonts/Montserrat.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: var(--font_montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--base_font_color);
  font-size: 4vh;
  background-color: var(--base_bg_color);
  width: 100%;
}


